@use './variables' as *;

.cardcontainer {
  &_title {
    color: var(--card-text-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
  }

  &_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &.isCollapsed {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &_eachcard {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    color: var(--card-text-color);
  }

  &_iconwrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 16px;
      color: #444;
    }
  }

  &_value {
    font-size: 18px;
    font-weight: 700;
    color: var(--card-text-color);
  }

  &_footer {
    font-size: 12px;
    font-weight: 600;
    color: var(--card-text-color);
    display: flex;
    align-items: center;

    .up {
      color: #16c784;
    }

    .down {
      color: #f93e3e;
    }

    .change-text {
      margin-left: 6px;
      color: #777;
    }

    svg {
      margin-right: 4px;
    }
  }
}

.n-card-header {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--card-text-color);
}

@media (max-width: 992px) and (min-width: 589px) {
  .cardcontainer_cards {
    flex-wrap: wrap;
  }
  .cardcontainer_eachcard {
    width: 48%;
  }
}

@media (max-width: 588px) and (min-width: 440px) {
  .cardcontainer_cards {
    flex-wrap: wrap;
  }
  .cardcontainer_eachcard {
    width: 48%;
  }
}

@media (max-width: 439px) {
  .cardcontainer_cards {
    flex-wrap: wrap;
  }
  .cardcontainer_cards {
    width: 100%;
  }
}
