.page-container {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  width: 1300px;
  padding: 20px;
  background-color: #f5f6fa;

  &.isCollapsed {
    width: 1430px;
  }
}

@media (max-width: 768px) {
  .sidebar.isCollapsed {
    width: 60px;
  }
}

@media (max-width: 458px) {
  .main-content {
    width: initial;
  }
}
