@use './variables' as *;

.saleschartcontainer {
  margin-top: 15px;
  background: #fff;
  padding: 0px 15px;
  height: 250px;
  border-radius: 15px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    &_title {
      color: var(--card-text-color);
      font-size: 15px;
      font-weight: 700;
    }
  }

  &_content {
    height: 200px;
  }
}
