@import './variables.scss';

.dealscontainer {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &_title {
      color: var(--card-text-color);
      font-size: 15px;
      font-weight: 700;
    }
  }
}

::v-deep(.n-data-table .n-data-table-thead th) {
  background-color: #f1f4f9;
  color: var(--card-text-color);
}

::v-deep(.n-data-table) {
  border-radius: 10px;
  overflow: hidden;
  font-weight: 500;
}

::v-deep(.n-data-table-th__title) {
  font-weight: 700;
  color: var(--card-text-color);
}
