$sidebar-width: 240px;
$bg-color: #ffffff;
$primary-color: #4f46e5;
$font-color: #333;
$card-padding: 1rem;
$card-border-radius: 8px;
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);

:root {
  --card-text-color: #202224;
  --input-border-color: #d5d5d5;
  --month-selector-color: #2b303466;
}
